<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caly - Smart Calendar</title>
    <link href="/css/dist/output.css" rel="stylesheet">
    <link href="/css/dist/main.css" rel="stylesheet">
</head>
<body>
    {%include 'head2.html'%}
    <script src="/js/main.js"></script>
    <script src="/node_modules/flowbite/dist/flowbite.min.js"></script>
    
</body>
</html>